extends layout

block content

  h1 Eliminar Autor: #{author.name}
  p= author.lifespan
  
  if author_books.length
  
    p #[strong Elimina los siguientes libros antes de eliminar al autor.]
  
    div(style='margin-left:20px;margin-top:20px')

      h4 Libros
    
      dl
      each book in author_books
        dt 
          a(href=book.url) #{book.title}
        dd #{book.summary}

  else
    p Estas seguro de querer eliminar este autor?
    
    form(method='POST' action='')
      div.form-group
        input#authorid.form-control(type='hidden',name='authorid', required='true', value=author._id )

      button.btn.btn-primary(type='submit') Eliminar